$TTL 86400
@   IN  SOA    {{ hostname_dns_primary }}.{{ zone_name }}. root.{{ hostname_dns_primary }}.{{ zone_name }}. (
            {{ zone_serial }} ; Serial
            3600       ; Refresh
            1800       ; Retry
            604800     ; Expire
            86400 )    ; Minimum TTL

; DNS servers
           IN  NS       {{ hostname_dns_primary }}.{{  zone_name }}.
           IN  NS       {{ hostname_dns_secondary }}.{{ zone_name }}.

; A records
{{ hostname_dns_primary }}  IN          A       {{ dns_master_ip }}
{{ hostname_dns_secondary }}    IN     A     {{ dns_secondary_ip }}
